body {
            font-family: "Times New roman", serif;
            margin: 0px;
}
            #bg-video {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
            color: rgb(255, 0, 0);
            }
            .sadow {
 
}
         .judul {
           text-align: center;
           color: rgb(25, 0, 255);
}
         .penyusun {
           color: rgb(0, 0, 255);
}
          h2, h3, h4 {
            text-align: center;
            color: rgb(0, 0, 255);
}
        .logo {
          display: flex;
          justify-content: center;
          text-align: center;
           filter: drop-shadow(0 0 15px rgba(0, 0, 90, 0.7));
}
        .identitas {
            margin-top: 4px;
            margin-bottom: 4px;
            line-height: 1.6;
            color: rgb(255, 0, 0);
            
}
        .daftar-isi {
         
            margin-bottom: 4px;
            color: rgb(255, 0, 0);
           
}
        .kata-pengantar {
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
          
}
        .pendahuluan {
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
}
        .pembahasan{
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
}
        .generasi-1-2-3-4 {
           text-align: justify;
           line-height: 1.7;
          color: rgb(255, 0, 0);
}
        .jenis-jenis-computer {
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
}
        .peran-computer {
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
}
        .penutup {
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
}
        .saran {
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(255,0,0);
}
        .pustaka {
          justify-content: center;
          text-align: justify;
          line-height: 1.7;
          color: rgb(255, 0, 0);
          text-align: center;
          height: 225px;
          left: 225px;
}
        .tutup {
          display: flex;
          justify-content: center;
          text-align: center;
}
        .piagam {
          text-align: center;
}
        .daftar-isi-2 {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255);
          }
        .kata-pengantar-2{
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255)
          }
        .pendahuluan-2 {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255)
        }
        .pembahasan-2 {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255)
        }
        .generasi {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255)
        }
        .jenis-jenis-computer-2 {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255);
          }
        .peran-computer-2 {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255)
          }
        .penutup-2 {
          border-radius: 30px;
          border: 1px solid;
          padding: 5px;
          border-color: rgb(0, 0, 255)
}
.daftar-isi h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  margin-bottom: 30px;
}
.daftar-isi table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Times New Roman', serif;
  font-size: 16px;
}
.daftar-isi table td {
  padding: 5px 0;
}
.daftar-isi table td:first-child {
  position: relative;
  padding-right: 10px;
}
.daftar-isi table td:first-child::after {
  content: ".......................................................................................................................................................";
  position: absolute;
  left: 0;
  right: 0;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
}
.daftar-isi table td:last-child {
  text-align: right;
  width: 40px;

{
 