body {
  text-align: justify;
  text-indent: 30px;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  background-image: url('iragemas.jpg');
  text-align: center;
}

h1,h2,h3 {
  text-align: center;
  color: #ff461f;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
p {
  text-align: center;
  color: #ff7500;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
.page-block {
  background: rgba(255,255,255,0.8);
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}


.halaman {
    background-color: (rgba 255, 255, 255 0.75);
    backdrop-filter: blur(4px);
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
} 
h4 {
    text-align: center;
  color: #ff1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
.logo{
  width: 250px;
  padding: 78px;
  padding-block: -50px;
  margin-left: -10%;
}
