body {
  text-indent: 18px;
  background-image: url("warna.jpg");
  background-size: contain;
  color: black;
  text-align: cente;
}

h1,h2,h3,h5{
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
p{
  color: black;
  text-shadow: 1px 1px 3px rgba( 0,0,0,0.8);
}
