body {
            font-family: "Times New Roman", serif;
            line-height: 1.6;
            margin: 50px;
            background-color: #f9f9f9;

        }
        h1{
          color:yellow;
        }
        p, h2, h3, br, li , div ,h1 {
          color:white;
        }
        h1, h2, h3 {
            text-align: center;
        }
        .identitas {
            text-align: center;
            margin-bottom: 40px;
        }
        p {
            text-align: justify;
        }
        .daftar-pustaka {
            margin-top: 40px;
        }
        hr {
            border: 1px solid #aaa;
        }
        /* Background Video */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Optional overlay gelap */
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35); /* atur tingkat kegelapan */
  z-index: -1;
}

/* Konten */
.content {
  position: relative;
  z-index: 5;
  color: white;
  text-align: center;
  margin-top: 150px;
  padding: 20px: ;
.section.bab1  {
  background-image: url('neyyy.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
