body {
    text-align: center;
    padding: 100px;
    margin: 150px;
    background-image:url("bmw.jpg");
    FONT-COLOR: WHITE;
    
   




}
.bab  {
    text-align: center;
}
.cover:hover {
    background-image:url('pap.jpg');


     
}
.yan:hover  {
    background-image:url('adidas.jpg');
    border-left: 5px solid #455879;
    border-radius: 30px;
    border-right: #333;


}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.isi {
    text-align: center;
    
}


