body{
  text-align: justify;
  text-indent: 25px;
  background-size: contain;
}
h1,h2,h5,h4{
  text-align: center;
  color: #f8f8ff;
}
h3{
  color:  #f8f8ff;
}
p,li{
  color: white;
}
.logo{
  margin-block: -55px;
  height: 300px;
  width: 280px;
  padding: 80px;
  padding-block: -50px;
  margin-bottom: -55px;
  margin-left: -30px;
}
#bv-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}