body {
  text-align: justify;
  text-indent: 30px;
  background-image: url('sya.jpg');
  background-size: contain;
  color: #000; /* warna teks default */
}

/* Judul */
h1, h2 {
  text-align: center;
  color: brown;
}

/* Paragraf, list, subjudul */
p, ol, li, h3, h4, h5, td, tr{
  color: white; /* hot white */
  text-shadow: 0.5px 0.5px 1px grey;
}


#bg-video {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


/* Tombol Media Sosial yang Animatif*/
.social-button {
      text-align: center;
      margin-top: 30px;
}
.social-button {
      display: inline-block;
      margin: 0 20px;
      transition: transform 0.4s cubic-bezier(0.68, 0.55, 0.27, 1.55);
}
.social-button:hover {
      transform: rotate(360deg) scale(1.3);
}
.social-button img {
      width: 70px;
      height: auto;
      border-radius: 70%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0. 6);
      border: 2px solid var(--acent-color);
}
 #audio-player {
  margin-top: 20px;
  width: 100%;
}
.halaman {
    background-color: rgba(255, 255, 255, 0.5); /* Putih dengan 80% opasitas (20% transparan) */
    padding: 20px;
    margin: 25px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 255.5);
}


.summary {
  width: 150px;
  height: auto; /* men proporsinya tetap */
  border-radius: 30px; /* opsional: buat sudut melengkung */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7); /* efek bayangane */
  transition: 0.3s; /* efek alus pas hover */
}