h1,
h2 {
  text-align: center;
  color: #f6d8d8;
}
p {
  color: #f6d8d8;
}
body {
}
style background color:#B logo {
}

img {
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  /* overflow: hidden; */
  font-family: Arial, sans-serif;
}

.video {
  position: fixed;
}
