body{
  text-align: justify;
  text-indent: 30px;
  background-image: url('nanana.jpg');
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  hr{
    border: 0;
    height: 2px;
    width: 80%;
    background: #b08968;
    margin: 30px auto;
    border-radius: 5px;
  }

  
  
h1,h2,h3,h4
  text-align: center;
  color:#3e5f8a;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);

p{
  color:#6b6b6b;
text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
.logo{
  width: 200px;
  padding:78px;
  padding-block: -50px;
  margin-left:5%;
}

 .social-buttons {
     text-align: center;
     margin-top: 30px;
 }
 .social-button {
     display: inline-block;
     margin: 0 20px;
     transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
 }
 .social-button:hover {
     transform: rotate(360deg) scale(1.3);
 }
 .social-button img {
     width: 70px;
     height: auto;
     border-radius: 70%;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
     border: 2px solid var(--accent-color);
 }
 .m{
 width: 500px;
  padding:78px;
  margin-left:10%;
 }