body{
background-image:url(gambarku.jpg);
border:5px dashed lavender ;
}

.cover {
 text-align: center ;
 color : lavender ;
 font-size: 18px;
 margin:27px ;
}

.halaman {
 color : lavender ;
 font-size: 16px ;
 margin: 27px ;
}
