body{
  text-align: justify;
  text-align: 30px;
  background-image: url(Ka.jpg);
  background-size: contain;
h1,h4{
  text-align: center;
  color: grey;
}
p{
  color: black;
}
/* Tombol Media Sosial yang Animatif */
.social-buttons{
  text-align-last: center;
  margin-top: 30px;
}
.social-button img {
  width: 70px;
  height: auto;
  border-radius: 70%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  border: 2px solid var(--accent-color);
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
 #audio-player {
   margin-top: 20px;
   width: 100%;
 }