.body {
    font-family: Times New Roman;
    margin: auto;
}
.video-backgroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  
}
#uhuy {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.content { 
  position: relative;
  z-index: 1;
  color: pink;
  text-align: left;
  padding-top: 100px;
}
.content2 {
  text-align: center;
  color: pink;
  padding-top: 100px;
}
  .daftar-abc {
    list-style-type: upper-alpha;
  }