body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #946c74, #9abcd8,#eac280,#c9ada7);
  color: white;
  margin: 0;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 50px 20px;
  animation: fadeInDown 2s ease-out;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba (0.0.0.1);
  text-align: center;
}

main {
  background-color: rgba(255, 255,255,0.0.1);
  border-radius: 15px;
  padding: 30px;
  width: 85%;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  animation: slideUp 1.5s ease-out;
  display: none;
}

h2 {
  color: #455879;
  border-left: 5px solid #455879;
  padding-left: 10px;
}

p {
  line-height: 1.8;
  font-size: 1.1em;
  text-align: justify;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
  margin-top: 40px;
  font-size: 0.9em;
  display: none;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease;
  text-align: selamat datang di makalah kami;
}

.loader-circle {
  width: 60px;
  height: 60px;
  border: 5px solid #fffff;
  border-top: 5px solid #ffeb3b;
  border-radius: 50%;
  animation: spin  1s linear infinite;
  margin-bottom: 20px;
}

.btn-buka {
  background-color: red;
  color: #black;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s;
}

.btn-buka:hover {
  background-color: pink;
  transform: scale(1.05);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); 
  text-align: center;
  }
}
h3 {
  text-align: center;
  text-shadow: red;
  color: black;
  border-radius: 12px
  box-shadow: 0px 0px 8px rgba(purple);
}

