        body {
            font-family: "Times New Roman", serif;
            line-height: 1.6;
            margin: 50px;
            background-color: #000000;
            color: #f5fffa;
        }
        h1, h2, h3 {
            text-align: center;
        }
        .identitas {
            text-align: center;
            margin-bottom: 40px;
        }
        p {
            text-align: justify;
            text-align: center;
        }
        .daftar-pustaka {
            margin-top: 40px;
        }
        hr {
            border: 1px solid #f5fffa;
        }
    